<div class="container my-5">
  <h1 class="text-center mb-4">Products</h1>

  <div class="row g-4">
    <div
      *ngFor="let product of allProduct(); trackBy: trackById"
      class="col-sm-6 col-md-4 col-lg-3"
    >
      <div class="product-card card h-100 shadow-sm">
        <div class="product-img-wrapper">
          <img
            [src]="product.imgURL"
            class="card-img-top product-img"
            alt="{{ product.name }}"
          />
        </div>

        <div class="card-body">
          <h5 class="card-title fw-bold">{{ product.name }}</h5>

          <p class="text-muted mb-1">
            <strong class="text-dark">Price:</strong> ${{ product.price }}
          </p>

          <p class="text-muted">
            <strong class="text-dark">Quantity:</strong> {{ product.quantity }}
          </p>

          <div class="d-grid gap-2">
            <a [routerLink]="['/product', product.id]" class="btn btn-primary"
              >Go to page</a
            >
            <button
              (click)="toggleDetail(product.id)"
              class="btn btn-outline-secondary"
            >
              {{
                selectedDetailId === product.id
                  ? "Hide Details"
                  : "Show Details"
              }}
            </button>
          </div>
        </div>

        <div *ngIf="selectedDetailId === product.id" class="p-3 bg-light">
          <app-product-detail
            [product]="getOneById(product.id)"
          ></app-product-detail>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="container my-5">
  <h1 class="text-center">Products</h1>
  <div class="row g-4">
    Card 1
    @for (product of allProduct(); track product.$id) {
    <div class="col-md-6 col-lg-4">
      <div class="card h-100 shadow-sm">
        <img [src]="product.imgURL" class="card-img-top" alt="Card Image 1" />
        <div class="card-body">
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="card-text">price: ${{ product.price }}</p>
          <p class="card-text">quantity : {{ product.quantity }}</p>
        </div>
      </div>
    </div>
    }
  </div>
</div> -->
